@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

body, #help, footer{
    background-color: rgb(27, 58, 89);
    font-family: 'Montserrat', sans-serif;
}

#ex, h1, #help, footer{
    color:rgb(255, 255, 255);
}

span{
    color: rgb(174, 212, 172);
}

.dieteren{
    margin-top: -270px;
    margin-left: -250px;
}

.vw{
    margin-left: 150px;
}

.col{
    float: left;
    width: 33.33%; 
}

#big{
    margin-left: 100px;
    margin-top: 20px;
}

.row::after{
    clear: both;
}

.container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
}

#ex{
    font-size: 25px;
    margin-top: -100px;
    padding-left: 300px;
    margin-left: -50px;
}

#car{
    background-color: transparent;
    border: none;
    margin-left: 350px;
    margin-top: -80px;
}

footer{
    margin-left: 150px;
    margin-top: 150px;
}

#links{
    margin-left: 50px;
}

#adres{
    margin-left: -50px;
    margin-top: -15px;
}

.twitter, .linkedin{
    margin-left: 10px;
}