@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

body, #help{
    background-color: rgb(75, 75, 77);
    font-family: 'Montserrat', sans-serif;
}

#ex, h1, #help{
    color:rgb(255, 255, 255);
}

span{
    color: rgb(78, 172, 248);
}

.vw{
    margin-left: 150px;
}

img{
    position: absolute;
    right: 0;
    width: 100px;
    height: 120px;
}

.col{
    float: left;
    width: 33.33%;
}

.row::after{
    clear: both;
}

.container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px 20px;
}

a{
    font-family: 'Montserrat', sans-serif;
    color:rgb(255, 255, 255); 
    padding-bottom: 55px;
    padding-left: 50px;
    padding-right: 11px;
    margin-left: 10px;
    margin-top: 200px;
    font-size: 50px;

}

#logo{
    background-image: url(./dieteren.svg);
}

#ex{
    font-size: 25px;
}

#car{
    background-image: url(./playButton.svg);
    background-repeat: no-repeat;
    margin-left: 100px;
    padding-bottom: 350px;
    padding-right: 250px;
}