@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

body, #help, footer{
    background-color: rgb(75, 75, 77);
    font-family: 'Montserrat', sans-serif;
}

#ex, h1, #help, footer{
    color:rgb(255, 255, 255);
}

span{
    color: rgb(78, 172, 248);
}

.vw{
    margin-left: 150px;
}

.col{
    float: left;
    width: 33.33%; 
}

#big{
    margin-left: 100px;
}

.row::after{
    clear: both;
}

.container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
}

.q{
    display: inline;
    position: absolute;
    font-family: 'Montserrat', sans-serif;
    color:rgb(255, 255, 255); 
    padding-bottom: 55px;
    padding-left: 50px;
    padding-right: 11px;
    margin-left: 10px;
    margin-top: 10px;
    font-size: 40px;
    background-color: transparent;
    border: none;

}

.dieteren{
    background-repeat: no-repeat;
    margin-left: -350px;
    margin-top: -300px;   
}

#ex{
    font-size: 25px;
    margin-top: -100px;
    padding-left: 350px;
}

#car{
    background-image: url(./playButton.svg);
    background-repeat: no-repeat;
    margin-left: 250px;
    padding-bottom: 350px;
    padding-right: 280px;
    background-color: transparent;
    border: none;
    margin-top: -150px;
}

footer{
    margin-left: 150px;
    margin-top: -200px;
}


#links{
    margin-left: 50px;
}

#adres{
    margin-left: -70px;
}

.twitter, .linkedin{
    margin-left: 10px;
}